<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="error.css">
    <title>Error</title>
</head>
<body>
    <main id="page-content">
        <nav><menu><ol><li><a href="/login.html">Home</a></li></ol></menu></nav>
        <section class="error-section shadow">
            <h1>Oops...The page you are looking for could not be located</h1>
        </section>
    </main>
</body>
</html>