<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verse of the Day</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="verse-of-the-day.css">
</head>

<body>
    <main>
        <article class="verse shadow">
            <h1>John 3:16</h1>
            <blockquote>For God so loved the world that he gave his one and only Son, that whoever believes in him shall not
                perish but have eternal life.</blockquote>
            <button class="like"><i class="material-symbols-rounded shadow">favorite</i></button>
            <button class="share"><i class="material-symbols-rounded shadow">send</i></button>
        </article>
    </main>
    <script src="verse-of-the-day.js"></script>
</body>

</html>