:root{
    --text_color: rgb(70, 62, 67);
    --button-color: #3F51B5;
    --button-color-op: #3f51b5a4;
    --button-hover-color:#1e2759;
    --submit-text-color: #FFFF;
    --background_colour: rgb(242, 237, 231);
    --background_colour_op: rgba(242, 237, 231, .5);
    --background_colour_week_op:rgba(139, 141, 131, .5);
    --backgroung_color_inv: rgba(242, 237, 231, 0);
    --share_colour: rgb(139,145,131);
    --share_outline: rgb(94, 98, 89);
    --text_color: rgb(70,62,67);
    --main-bg-color: #1A535C;
    --loader-bg-color: #FF6B6B;
    --loader-acc-color: #4ECDC4;
}

* {
    padding: 0%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-title {
    position: absolute;
    padding: 2rem;
    font-size: 3rem;
}

.register-section {
    min-width: 200px;
}

.register-card {
    text-align: center;
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
    border-radius: 0.75rem;
    border: 0;
}

.register-header {
    margin: 1rem 0rem 1rem 0rem;
    color: var(--text_color);
}

.login-text {
    padding: 1rem;
}

input[type=text],
input[type=password] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

input[type=submit] {
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--submit-text-color);
    font-weight: 600;
    border-radius: 5px;

    transition:all .15s ease;
}

input[value=Register]:hover{
    cursor: pointer;
    letter-spacing: 2px;
    background-color: var(--button-hover-color);
}
#register-loader{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 0.75em solid var(--background_colour_week_op);
    border-top-color: var(--loader-bg-color);
    animation: 2s infinite example-one;
    margin: auto;
}

@keyframes example-one{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.hidden {
    display: none;
}