:root{
    --text_color: rgb(70, 62, 67);
    --button-color: #3F51B5;
    --button-color-op: #3f51b5a4;
    --button-hover-color:#1e2759;
    --submit-text-color: #FFFF;
    --background_colour: rgb(242, 237, 231);
    --background_colour_op: rgba(242, 237, 231, .5);
    --background_colour_week_op:rgba(139, 141, 131, .5);
    --backgroung_color_inv: rgba(242, 237, 231, 0);
    --share_colour: rgb(139,145,131);
    --share_outline: rgb(94, 98, 89);
    --text_color: rgb(70,62,67);
    --main-bg-color: #1A535C;
    --loader-bg-color: #FF6B6B;
    --loader-acc-color: #4ECDC4;
}

*{
    padding: 0%;
    margin: 0;
}
.like .material-symbols-rounded:hover{
    -webkit-text-stroke: 3px maroon;
}
.like.click > i{
    -webkit-text-stroke: 3px maroon;
    color: red;
    font-variation-settings:
    'FILL' 100;

    animation: pop .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.user-section{
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
}

#circle-loader{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 0.75em solid var(--background_colour_week_op);
    border-top-color: var(--loader-bg-color);
    animation: 2s infinite example-one;
    margin: 4rem auto 0 10rem;
}

@keyframes example-one{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.hidden {
    display: none;
}
@media (max-aspect-ratio:1/1) or (max-width: 815px) {
    #register-loader{
        margin: 4rem auto 0 auto;
    }
}