:root{
    --text_color: rgb(70, 62, 67);
    --button-color: #3F51B5;
    --button-color-op: #3f51b5a4;
    --button-hover-color:#1e2759;
    --submit-text-color: #FFFF;
    --background_colour: rgb(242, 237, 231);
    --background_colour_op: rgba(242, 237, 231, .5);
    --background_colour_week_op:rgba(139, 141, 131, .5);
    --backgroung_color_inv: rgba(242, 237, 231, 0);
    --share_colour: rgb(139,145,131);
    --share_outline: rgb(94, 98, 89);
    --text_color: rgb(70,62,67);
    --main-bg-color: #1A535C;
    --loader-bg-color: #FF6B6B;
    --loader-acc-color: #4ECDC4;
}

*{
    padding: 0%;
    margin: 0;
}
main{
    background-image: url("./Images/TopLeft.png"), url("./Images/BottomLeft.png"), url("./Images/TopRight2.png"), url("./Images/BottomRight2.png");
    background-position:left top, left bottom, top right, bottom right;
}
nav{
    margin: 1.5rem 1.5rem auto auto;
    border-bottom: 3px var(--background_colour_week_op) solid;
    left: 0;
}

nav menu ol{
    background-color: var(--background_colour_week_op);
}

nav:hover{
    border-left: 3px solid var(--background_colour_week_op);
    border-right: 3px solid var(--background_colour_week_op);
}
#circle-loader{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 0.75em solid var(--background_colour_week_op);
    border-top-color: var(--loader-bg-color);
    animation: 2s infinite example-one;
    margin: 4rem auto 0 10rem;
}
.logout-btn{
    width: 10vw;
    min-width: fit-content;
    background-color: var(--button-color-op); /* Green */
    bottom: 0;
    right: 0;

    border: none;
    color: white;
    
    padding: 15px 32px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: none;
    
    display: absolute;
    position: fixed;
    font-size: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    transition: background-color .1s ease;
}

.logout-btn:hover{
    cursor: pointer;
    background-color: var(--button-hover-color);
}
@keyframes example-one{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.hidden {
    display: none;
}