@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

:root{
    --background_colour: rgb(242, 237, 231);
    --background_colour_op: rgba(242, 237, 231, .5);
    --backgroung_color_inv: rgba(242, 237, 231, 0);
    --share_colour: rgb(139,145,131);
    --share_outline: rgb(94, 98, 89);
    --text_color: rgb(70,62,67);
}

*{
    padding: 0%;
    margin: 0;
}
body{
    background-color: var(--background_colour);
    width: 100vw;
    height: 100vh;
}
main{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("./Images/TopLeft.png"),url("./Images/TopRight.png"), url("./Images/BottomLeft.png"), url("./Images/BottomRight.png");
    background-position:left top, right top, left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    
    color: var(--text_color);
}
nav{
    width: fit-content;
    display: flex;
    margin: 1.5rem 1.5rem auto auto;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    right: 0;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-bottom: 3px var(--background_colour_op) solid;
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    padding: .5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;

    animation: jump-shaking .9s 2;
    animation-delay: 1s;
    transition: border .2s;
}
nav:hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    border-left: 3px solid var(--background_colour_op);
    border-right: 3px solid var(--background_colour_op);
}
nav menu ol{
    list-style: none;
    background-color: var(--background_colour_op);
    padding: 5px;
    border-radius: 5px;
}
nav menu ol a{
    text-decoration: none;
    color: var(--text_color);
}
.verse{
    display: block;
    height: 40%;
    width: 50%;
    margin: 0 0 10rem 20vw;
    font-family: 'Raleway', sans-serif;
}
.verse h1{
    font-weight: 600;
    font-size: 4rem;
}
.verse blockquote{
    font-size: 1.5rem;
    font-weight: 300; 
}
.verse button{
    margin-top: 1rem;
    background: transparent;
    border: none;
}
.verse i{
    display: block;
    width: 3rem;
    height: 3rem;
}
.material-symbols-rounded {
    font-size: 48px;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48;
}
.like .material-symbols-rounded:hover{
    -webkit-text-stroke: 3px maroon;
}
.like.click > i{
    -webkit-text-stroke: 3px maroon;
    color: red;
    font-variation-settings:
    'FILL' 100;

    animation: pop .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.share .material-symbols-rounded:hover{
    -webkit-text-stroke: 3px var(--share_outline);
    color: var(--share_colour);
    font-variation-settings:
    'FILL' 100;
}
.popup{
    display: block;
    border: none;
    background-color: transparent;
}
.shadow{
    text-shadow: 
        -1px -1px 0 var(--background_colour),
        0   -1px 0 var(--background_colour),
        1px -1px 0 var(--background_colour),
        1px  0   0 var(--background_colour),
        1px  1px 0 var(--background_colour),
        0    1px 0 var(--background_colour),
        -1px  1px 0 var(--background_colour),
        -1px  0   0 var(--background_colour);
}
@media (max-aspect-ratio:1/1) or (max-width: 815px) {
    .verse{
        margin: 0 auto 10rem auto;
        width: 80%;
    }
    .verse h1{
        font-size: 3rem;
    }
    .verse blockquote{
        font-size: 1.3rem;
        font-weight: 300; 
    }
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(2deg) }
    55% { transform: translateY(-9px) rotate(-2deg) }
    65% { transform: translateY(-9px) rotate(2deg) }
    75% { transform: translateY(-9px) rotate(-2deg) }
    100% { transform: translateY(0) rotate(0) }
  }

@keyframes pop{
    0%{
        transform: scale(1);
    }
    25%{
        transform: translateY(-10px) rotateY(90deg);
    }
    50%{
        transform: scale(1.2) translateY(-10px) rotateY(180deg);
    }
    75%{
        transform: translateY(-10px) rotateY(270deg);
    }
    100%{
        transform: scale(1);
    }
}